<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>block_falled (16)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{61.199999999999996,32.4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61.199999999999996,32.4}}</string>
        <key>sourceSize</key>
        <string>{61.199999999999996,32.4}</string>
      </dict>
      <key>block_falled (11)</key>
      <dict>
        <key>frame</key>
        <string>{{61.199999999999996,0},{52.919999999999995,24.84}}</string>
        <key>offset</key>
        <string>{-0.17999999999999972,-0.5400000000000027}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3.96,4.32},{52.919999999999995,24.84}}</string>
        <key>sourceSize</key>
        <string>{61.199999999999996,32.4}</string>
      </dict>
      <key>block_falled (12)</key>
      <dict>
        <key>frame</key>
        <string>{{114.11999999999999,0},{52.919999999999995,17.28}}</string>
        <key>offset</key>
        <string>{-0.17999999999999972,-4.32}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3.96,11.879999999999999},{52.919999999999995,17.28}}</string>
        <key>sourceSize</key>
        <string>{61.199999999999996,32.4}</string>
      </dict>
      <key>block_falled (13)</key>
      <dict>
        <key>frame</key>
        <string>{{167.04,0},{52.919999999999995,16.919999999999998}}</string>
        <key>offset</key>
        <string>{-0.17999999999999972,-4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3.96,12.24},{52.919999999999995,16.919999999999998}}</string>
        <key>sourceSize</key>
        <string>{61.199999999999996,32.4}</string>
      </dict>
      <key>block_falled (10)</key>
      <dict>
        <key>frame</key>
        <string>{{219.95999999999998,0},{51.839999999999996,25.2}}</string>
        <key>offset</key>
        <string>{0,-0.7200000000000024}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4.68,4.32},{51.839999999999996,25.2}}</string>
        <key>sourceSize</key>
        <string>{61.199999999999996,32.4}</string>
      </dict>
      <key>block_falled (9)</key>
      <dict>
        <key>frame</key>
        <string>{{167.04,16.919999999999998},{51.839999999999996,25.2}}</string>
        <key>offset</key>
        <string>{0,-0.7200000000000024}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4.68,4.32},{51.839999999999996,25.2}}</string>
        <key>sourceSize</key>
        <string>{61.199999999999996,32.4}</string>
      </dict>
      <key>block_falled (8)</key>
      <dict>
        <key>frame</key>
        <string>{{114.11999999999999,17.28},{51.48,25.2}}</string>
        <key>offset</key>
        <string>{-0.17999999999999972,-0.7200000000000024}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4.68,4.32},{51.48,25.2}}</string>
        <key>sourceSize</key>
        <string>{61.199999999999996,32.4}</string>
      </dict>
      <key>block_falled (7)</key>
      <dict>
        <key>frame</key>
        <string>{{61.199999999999996,25.2},{51.12,24.48}}</string>
        <key>offset</key>
        <string>{0,-0.7200000000000024}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5.04,4.68},{51.12,24.48}}</string>
        <key>sourceSize</key>
        <string>{61.199999999999996,32.4}</string>
      </dict>
      <key>block_falled (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,32.4},{50.76,24.48}}</string>
        <key>offset</key>
        <string>{-0.17999999999999972,-0.7200000000000024}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5.04,4.68},{50.76,24.48}}</string>
        <key>sourceSize</key>
        <string>{61.199999999999996,32.4}</string>
      </dict>
      <key>block_falled (14)</key>
      <dict>
        <key>frame</key>
        <string>{{50.76,32.4},{7.92,8.64}}</string>
        <key>offset</key>
        <string>{-23.04,-8.64}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{3.5999999999999996,20.52},{7.92,8.64}}</string>
        <key>sourceSize</key>
        <string>{61.199999999999996,32.4}</string>
      </dict>
      <key>block_falled (15)</key>
      <dict>
        <key>frame</key>
        <string>{{50.76,40.32},{7.199999999999999,8.28}}</string>
        <key>offset</key>
        <string>{-23.4,-8.46}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{3.5999999999999996,20.52},{7.199999999999999,8.28}}</string>
        <key>sourceSize</key>
        <string>{61.199999999999996,32.4}</string>
      </dict>
      <key>block_falled (1)</key>
      <dict>
        <key>frame</key>
        <string>{{50.76,47.519999999999996},{14.399999999999999,4.32}}</string>
        <key>offset</key>
        <string>{0.35999999999999943,-10.079999999999998}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{23.759999999999998,24.119999999999997},{14.399999999999999,4.32}}</string>
        <key>sourceSize</key>
        <string>{61.199999999999996,32.4}</string>
      </dict>
      <key>block_falled (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,56.879999999999995},{50.04,23.04}}</string>
        <key>offset</key>
        <string>{0.18000000000000327,-1.4400000000000013}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5.76,6.12},{50.04,23.04}}</string>
        <key>sourceSize</key>
        <string>{61.199999999999996,32.4}</string>
      </dict>
      <key>block_falled (4)</key>
      <dict>
        <key>frame</key>
        <string>{{271.8,0},{48.6,21.96}}</string>
        <key>offset</key>
        <string>{0.18000000000000327,-2.34}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6.4799999999999995,7.56},{48.6,21.96}}</string>
        <key>sourceSize</key>
        <string>{61.199999999999996,32.4}</string>
      </dict>
      <key>block_falled (3)</key>
      <dict>
        <key>frame</key>
        <string>{{320.4,0},{45,19.8}}</string>
        <key>offset</key>
        <string>{1.2600000000000016,-3.419999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9.36,9.719999999999999},{45,19.8}}</string>
        <key>sourceSize</key>
        <string>{61.199999999999996,32.4}</string>
      </dict>
      <key>block_falled (2)</key>
      <dict>
        <key>frame</key>
        <string>{{365.4,0},{36.72,16.56}}</string>
        <key>offset</key>
        <string>{1.8000000000000007,-4.68}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14.04,12.6},{36.72,16.56}}</string>
        <key>sourceSize</key>
        <string>{61.199999999999996,32.4}</string>
      </dict>
      <key>block_falled (17)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{61.199999999999996,32.4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61.199999999999996,32.4}}</string>
        <key>sourceSize</key>
        <string>{61.199999999999996,32.4}</string>
      </dict>
      <key>block_falled (18)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{61.199999999999996,32.4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61.199999999999996,32.4}}</string>
        <key>sourceSize</key>
        <string>{61.199999999999996,32.4}</string>
      </dict>
      <key>block_falled (19)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{61.199999999999996,32.4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61.199999999999996,32.4}}</string>
        <key>sourceSize</key>
        <string>{61.199999999999996,32.4}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>block_falled.png</string>
      <key>size</key>
      <string>{402,80}</string>
      <key>textureFileName</key>
      <string>block_falled</string>
    </dict>
  </dict>
</plist>
