<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>coin_normal (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{26.279999999999998,26.279999999999998}}</string>
        <key>offset</key>
        <string>{0.35999999999999943,0.3600000000000012}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0.72,0},{26.279999999999998,26.279999999999998}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>coin_normal (11)</key>
      <dict>
        <key>frame</key>
        <string>{{0,26.279999999999998},{26.279999999999998,26.279999999999998}}</string>
        <key>offset</key>
        <string>{0.35999999999999943,0.3600000000000012}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0.72,0},{26.279999999999998,26.279999999999998}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>coin_normal (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,52.559999999999995},{26.279999999999998,26.279999999999998}}</string>
        <key>offset</key>
        <string>{0.35999999999999943,0.3600000000000012}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0.72,0},{26.279999999999998,26.279999999999998}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>coin_normal (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,78.84},{26.279999999999998,26.279999999999998}}</string>
        <key>offset</key>
        <string>{0.35999999999999943,0.3600000000000012}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0.72,0},{26.279999999999998,26.279999999999998}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>coin_normal (12)</key>
      <dict>
        <key>frame</key>
        <string>{{0,105.11999999999999},{25.919999999999998,25.919999999999998}}</string>
        <key>offset</key>
        <string>{0.17999999999999972,0.1800000000000015}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0.72,0.36},{25.919999999999998,25.919999999999998}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>coin_normal (13)</key>
      <dict>
        <key>frame</key>
        <string>{{0,131.04},{25.919999999999998,25.919999999999998}}</string>
        <key>offset</key>
        <string>{0.17999999999999972,0.1800000000000015}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0.72,0.36},{25.919999999999998,25.919999999999998}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>coin_normal (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,156.96},{25.919999999999998,25.919999999999998}}</string>
        <key>offset</key>
        <string>{0.17999999999999972,0.1800000000000015}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0.72,0.36},{25.919999999999998,25.919999999999998}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>coin_normal (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,182.88},{25.56,25.56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0.72,0.72},{25.56,25.56}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>coin_normal (14)</key>
      <dict>
        <key>frame</key>
        <string>{{0,208.44},{25.56,25.56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0.72,0.72},{25.56,25.56}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>coin_normal (15)</key>
      <dict>
        <key>frame</key>
        <string>{{0,234},{25.56,25.56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0.72,0.72},{25.56,25.56}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>coin_normal (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,259.56},{25.56,25.56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0.72,0.72},{25.56,25.56}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>coin_normal (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,285.12},{25.56,25.56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0.72,0.72},{25.56,25.56}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>coin_normal (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,310.68},{25.56,25.56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0.72,0.72},{25.56,25.56}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>coin_normal (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,336.24},{25.56,25.56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0.72,0.72},{25.56,25.56}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>coin_normal (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,361.8},{25.56,25.56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0.72,0.72},{25.56,25.56}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>coin_normal.png</string>
      <key>size</key>
      <string>{26,387}</string>
      <key>textureFileName</key>
      <string>coin_normal</string>
    </dict>
  </dict>
</plist>
