<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>life_spawn (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{26.64,27}}</string>
        <key>offset</key>
        <string>{0.17999999999999972,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0.36,0},{26.64,27}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>life_spawn (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,27},{26.64,26.64}}</string>
        <key>offset</key>
        <string>{0.17999999999999972,0.17999999999999972}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0.36,0},{26.64,26.64}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>life_spawn (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,53.64},{26.64,26.64}}</string>
        <key>offset</key>
        <string>{0.17999999999999972,0.17999999999999972}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0.36,0},{26.64,26.64}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>life_spawn (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,80.28},{26.64,26.64}}</string>
        <key>offset</key>
        <string>{0.17999999999999972,0.17999999999999972}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0.36,0},{26.64,26.64}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>life_spawn (11)</key>
      <dict>
        <key>frame</key>
        <string>{{0,106.92},{26.64,26.279999999999998}}</string>
        <key>offset</key>
        <string>{0.17999999999999972,0.3600000000000012}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0.36,0},{26.64,26.279999999999998}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>life_spawn (12)</key>
      <dict>
        <key>frame</key>
        <string>{{0,133.56},{26.64,26.279999999999998}}</string>
        <key>offset</key>
        <string>{0.17999999999999972,0.3600000000000012}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0.36,0},{26.64,26.279999999999998}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>life_spawn (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,160.2},{26.64,26.279999999999998}}</string>
        <key>offset</key>
        <string>{0.17999999999999972,0.3600000000000012}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0.36,0},{26.64,26.279999999999998}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>life_spawn (13)</key>
      <dict>
        <key>frame</key>
        <string>{{0,186.84},{26.64,25.919999999999998}}</string>
        <key>offset</key>
        <string>{0.17999999999999972,0.5400000000000009}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0.36,0},{26.64,25.919999999999998}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>life_spawn (14)</key>
      <dict>
        <key>frame</key>
        <string>{{0,213.48},{26.279999999999998,25.56}}</string>
        <key>offset</key>
        <string>{-1.7763568394002505e-15,0.7200000000000006}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0.36,0},{26.279999999999998,25.56}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>life_spawn (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,239.76},{25.2,25.2}}</string>
        <key>offset</key>
        <string>{-0.5400000000000009,-0.17999999999999972}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0.36,1.08},{25.2,25.2}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>life_spawn (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,264.96},{24.48,24.119999999999997}}</string>
        <key>offset</key>
        <string>{-0.9000000000000004,-0.35999999999999943}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0.36,1.7999999999999998},{24.48,24.119999999999997}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>life_spawn (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,289.44},{23.759999999999998,23.759999999999998}}</string>
        <key>offset</key>
        <string>{-1.2600000000000016,-0.5399999999999991}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0.36,2.16},{23.759999999999998,23.759999999999998}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>life_spawn (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,313.2},{22.68,22.68}}</string>
        <key>offset</key>
        <string>{-1.8000000000000007,-0.7199999999999989}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0.36,2.88},{22.68,22.68}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>life_spawn (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,335.88},{22.68,22.68}}</string>
        <key>offset</key>
        <string>{-1.8000000000000007,-0.7199999999999989}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0.36,2.88},{22.68,22.68}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>life_spawn (15)</key>
      <dict>
        <key>frame</key>
        <string>{{0,358.56},{22.32,22.32}}</string>
        <key>offset</key>
        <string>{-1.9800000000000004,-0.9000000000000004}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0.36,3.2399999999999998},{22.32,22.32}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>life_spawn.png</string>
      <key>size</key>
      <string>{27,381}</string>
      <key>textureFileName</key>
      <string>life_spawn</string>
    </dict>
  </dict>
</plist>
