<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skull_relax (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{25.919999999999998,27.36}}</string>
        <key>offset</key>
        <string>{0,-1.7763568394002505e-15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1.44,0.72},{25.919999999999998,27.36}}</string>
        <key>sourceSize</key>
        <string>{28.799999999999997,28.799999999999997}</string>
      </dict>
      <key>skull_relax (19)</key>
      <dict>
        <key>frame</key>
        <string>{{0,27.36},{25.919999999999998,27.36}}</string>
        <key>offset</key>
        <string>{0,-1.7763568394002505e-15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1.44,0.72},{25.919999999999998,27.36}}</string>
        <key>sourceSize</key>
        <string>{28.799999999999997,28.799999999999997}</string>
      </dict>
      <key>skull_relax (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,54.72},{25.919999999999998,27.36}}</string>
        <key>offset</key>
        <string>{0,-1.7763568394002505e-15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1.44,0.72},{25.919999999999998,27.36}}</string>
        <key>sourceSize</key>
        <string>{28.799999999999997,28.799999999999997}</string>
      </dict>
      <key>skull_relax (20)</key>
      <dict>
        <key>frame</key>
        <string>{{0,82.08},{25.919999999999998,27.36}}</string>
        <key>offset</key>
        <string>{0,-1.7763568394002505e-15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1.44,0.72},{25.919999999999998,27.36}}</string>
        <key>sourceSize</key>
        <string>{28.799999999999997,28.799999999999997}</string>
      </dict>
      <key>skull_relax (17)</key>
      <dict>
        <key>frame</key>
        <string>{{0,109.44},{25.919999999999998,27}}</string>
        <key>offset</key>
        <string>{0,-0.1800000000000015}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1.44,1.08},{25.919999999999998,27}}</string>
        <key>sourceSize</key>
        <string>{28.799999999999997,28.799999999999997}</string>
      </dict>
      <key>skull_relax (18)</key>
      <dict>
        <key>frame</key>
        <string>{{0,136.44},{25.919999999999998,27}}</string>
        <key>offset</key>
        <string>{0,-0.1800000000000015}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1.44,1.08},{25.919999999999998,27}}</string>
        <key>sourceSize</key>
        <string>{28.799999999999997,28.799999999999997}</string>
      </dict>
      <key>skull_relax (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,163.44},{25.919999999999998,27}}</string>
        <key>offset</key>
        <string>{0,-0.1800000000000015}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1.44,1.08},{25.919999999999998,27}}</string>
        <key>sourceSize</key>
        <string>{28.799999999999997,28.799999999999997}</string>
      </dict>
      <key>skull_relax (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,190.44},{25.919999999999998,27}}</string>
        <key>offset</key>
        <string>{0,-0.1800000000000015}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1.44,1.08},{25.919999999999998,27}}</string>
        <key>sourceSize</key>
        <string>{28.799999999999997,28.799999999999997}</string>
      </dict>
      <key>skull_relax (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,217.44},{25.919999999999998,27}}</string>
        <key>offset</key>
        <string>{0,-0.1800000000000015}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1.44,1.08},{25.919999999999998,27}}</string>
        <key>sourceSize</key>
        <string>{28.799999999999997,28.799999999999997}</string>
      </dict>
      <key>skull_relax (14)</key>
      <dict>
        <key>frame</key>
        <string>{{0,244.44},{26.64,26.64}}</string>
        <key>offset</key>
        <string>{1.7763568394002505e-15,-0.3600000000000012}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1.08,1.44},{26.64,26.64}}</string>
        <key>sourceSize</key>
        <string>{28.799999999999997,28.799999999999997}</string>
      </dict>
      <key>skull_relax (15)</key>
      <dict>
        <key>frame</key>
        <string>{{25.919999999999998,0},{26.64,26.64}}</string>
        <key>offset</key>
        <string>{1.7763568394002505e-15,-0.3600000000000012}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1.08,1.44},{26.64,26.64}}</string>
        <key>sourceSize</key>
        <string>{28.799999999999997,28.799999999999997}</string>
      </dict>
      <key>skull_relax (7)</key>
      <dict>
        <key>frame</key>
        <string>{{25.919999999999998,26.64},{26.64,26.64}}</string>
        <key>offset</key>
        <string>{1.7763568394002505e-15,-0.3600000000000012}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1.08,1.44},{26.64,26.64}}</string>
        <key>sourceSize</key>
        <string>{28.799999999999997,28.799999999999997}</string>
      </dict>
      <key>skull_relax (10)</key>
      <dict>
        <key>frame</key>
        <string>{{25.919999999999998,53.28},{26.64,26.279999999999998}}</string>
        <key>offset</key>
        <string>{1.7763568394002505e-15,-0.5399999999999991}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1.08,1.7999999999999998},{26.64,26.279999999999998}}</string>
        <key>sourceSize</key>
        <string>{28.799999999999997,28.799999999999997}</string>
      </dict>
      <key>skull_relax (12)</key>
      <dict>
        <key>frame</key>
        <string>{{25.919999999999998,79.92},{26.64,26.279999999999998}}</string>
        <key>offset</key>
        <string>{1.7763568394002505e-15,-0.5399999999999991}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1.08,1.7999999999999998},{26.64,26.279999999999998}}</string>
        <key>sourceSize</key>
        <string>{28.799999999999997,28.799999999999997}</string>
      </dict>
      <key>skull_relax (13)</key>
      <dict>
        <key>frame</key>
        <string>{{25.919999999999998,106.56},{26.64,26.279999999999998}}</string>
        <key>offset</key>
        <string>{1.7763568394002505e-15,-0.5399999999999991}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1.08,1.7999999999999998},{26.64,26.279999999999998}}</string>
        <key>sourceSize</key>
        <string>{28.799999999999997,28.799999999999997}</string>
      </dict>
      <key>skull_relax (6)</key>
      <dict>
        <key>frame</key>
        <string>{{25.919999999999998,133.2},{26.279999999999998,26.64}}</string>
        <key>offset</key>
        <string>{0.17999999999999972,-0.3600000000000012}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1.44,1.44},{26.279999999999998,26.64}}</string>
        <key>sourceSize</key>
        <string>{28.799999999999997,28.799999999999997}</string>
      </dict>
      <key>skull_relax (8)</key>
      <dict>
        <key>frame</key>
        <string>{{25.919999999999998,159.84},{26.64,26.279999999999998}}</string>
        <key>offset</key>
        <string>{1.7763568394002505e-15,-0.5399999999999991}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1.08,1.7999999999999998},{26.64,26.279999999999998}}</string>
        <key>sourceSize</key>
        <string>{28.799999999999997,28.799999999999997}</string>
      </dict>
      <key>skull_relax (9)</key>
      <dict>
        <key>frame</key>
        <string>{{25.919999999999998,186.48},{26.64,26.279999999999998}}</string>
        <key>offset</key>
        <string>{1.7763568394002505e-15,-0.5399999999999991}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1.08,1.7999999999999998},{26.64,26.279999999999998}}</string>
        <key>sourceSize</key>
        <string>{28.799999999999997,28.799999999999997}</string>
      </dict>
      <key>skull_relax (11)</key>
      <dict>
        <key>frame</key>
        <string>{{25.919999999999998,213.12},{26.64,25.919999999999998}}</string>
        <key>offset</key>
        <string>{1.7763568394002505e-15,-0.7200000000000006}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1.08,2.16},{26.64,25.919999999999998}}</string>
        <key>sourceSize</key>
        <string>{28.799999999999997,28.799999999999997}</string>
      </dict>
      <key>skull_relax (16)</key>
      <dict>
        <key>frame</key>
        <string>{{0,271.08},{25.919999999999998,26.64}}</string>
        <key>offset</key>
        <string>{0,-0.3600000000000012}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1.44,1.44},{25.919999999999998,26.64}}</string>
        <key>sourceSize</key>
        <string>{28.799999999999997,28.799999999999997}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>skull_relax.png</string>
      <key>size</key>
      <string>{53,298}</string>
      <key>textureFileName</key>
      <string>skull_relax</string>
    </dict>
  </dict>
</plist>
