<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>coin_normal (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{73,73}}</string>
        <key>offset</key>
        <string>{1,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{73,73}}</string>
        <key>sourceSize</key>
        <string>{75,75}</string>
      </dict>
      <key>coin_normal (11)</key>
      <dict>
        <key>frame</key>
        <string>{{0,73},{73,73}}</string>
        <key>offset</key>
        <string>{1,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{73,73}}</string>
        <key>sourceSize</key>
        <string>{75,75}</string>
      </dict>
      <key>coin_normal (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,146},{73,73}}</string>
        <key>offset</key>
        <string>{1,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{73,73}}</string>
        <key>sourceSize</key>
        <string>{75,75}</string>
      </dict>
      <key>coin_normal (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,219},{73,73}}</string>
        <key>offset</key>
        <string>{1,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{73,73}}</string>
        <key>sourceSize</key>
        <string>{75,75}</string>
      </dict>
      <key>coin_normal (12)</key>
      <dict>
        <key>frame</key>
        <string>{{0,292},{72,72}}</string>
        <key>offset</key>
        <string>{0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{72,72}}</string>
        <key>sourceSize</key>
        <string>{75,75}</string>
      </dict>
      <key>coin_normal (13)</key>
      <dict>
        <key>frame</key>
        <string>{{0,364},{72,72}}</string>
        <key>offset</key>
        <string>{0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{72,72}}</string>
        <key>sourceSize</key>
        <string>{75,75}</string>
      </dict>
      <key>coin_normal (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,436},{72,72}}</string>
        <key>offset</key>
        <string>{0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{72,72}}</string>
        <key>sourceSize</key>
        <string>{75,75}</string>
      </dict>
      <key>coin_normal (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,508},{71,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{71,71}}</string>
        <key>sourceSize</key>
        <string>{75,75}</string>
      </dict>
      <key>coin_normal (14)</key>
      <dict>
        <key>frame</key>
        <string>{{0,579},{71,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{71,71}}</string>
        <key>sourceSize</key>
        <string>{75,75}</string>
      </dict>
      <key>coin_normal (15)</key>
      <dict>
        <key>frame</key>
        <string>{{0,650},{71,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{71,71}}</string>
        <key>sourceSize</key>
        <string>{75,75}</string>
      </dict>
      <key>coin_normal (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,721},{71,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{71,71}}</string>
        <key>sourceSize</key>
        <string>{75,75}</string>
      </dict>
      <key>coin_normal (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,792},{71,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{71,71}}</string>
        <key>sourceSize</key>
        <string>{75,75}</string>
      </dict>
      <key>coin_normal (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,863},{71,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{71,71}}</string>
        <key>sourceSize</key>
        <string>{75,75}</string>
      </dict>
      <key>coin_normal (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,934},{71,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{71,71}}</string>
        <key>sourceSize</key>
        <string>{75,75}</string>
      </dict>
      <key>coin_normal (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,1005},{71,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{71,71}}</string>
        <key>sourceSize</key>
        <string>{75,75}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>coin_normal.png</string>
      <key>size</key>
      <string>{73,1076}</string>
      <key>textureFileName</key>
      <string>coin_normal</string>
    </dict>
  </dict>
</plist>
