<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>double_jump (14)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{22.68,17.64}}</string>
        <key>offset</key>
        <string>{-0.17999999999999972,-2.3400000000000016}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1.08,6.12},{22.68,17.64}}</string>
        <key>sourceSize</key>
        <string>{25.2,25.2}</string>
      </dict>
      <key>double_jump (11)</key>
      <dict>
        <key>frame</key>
        <string>{{22.68,0},{22.32,19.439999999999998}}</string>
        <key>offset</key>
        <string>{0,-1.08}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1.44,3.96},{22.32,19.439999999999998}}</string>
        <key>sourceSize</key>
        <string>{25.2,25.2}</string>
      </dict>
      <key>double_jump (12)</key>
      <dict>
        <key>frame</key>
        <string>{{0,17.64},{22.32,19.439999999999998}}</string>
        <key>offset</key>
        <string>{0,-1.08}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1.44,3.96},{22.32,19.439999999999998}}</string>
        <key>sourceSize</key>
        <string>{25.2,25.2}</string>
      </dict>
      <key>double_jump (13)</key>
      <dict>
        <key>frame</key>
        <string>{{45,0},{22.32,18.72}}</string>
        <key>offset</key>
        <string>{0,-1.4399999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1.44,4.68},{22.32,18.72}}</string>
        <key>sourceSize</key>
        <string>{25.2,25.2}</string>
      </dict>
      <key>double_jump (1)</key>
      <dict>
        <key>frame</key>
        <string>{{67.32,0},{22.32,17.28}}</string>
        <key>offset</key>
        <string>{0,-2.880000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1.44,6.84},{22.32,17.28}}</string>
        <key>sourceSize</key>
        <string>{25.2,25.2}</string>
      </dict>
      <key>double_jump (15)</key>
      <dict>
        <key>frame</key>
        <string>{{89.64,0},{22.32,17.28}}</string>
        <key>offset</key>
        <string>{0,-2.880000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1.44,6.84},{22.32,17.28}}</string>
        <key>sourceSize</key>
        <string>{25.2,25.2}</string>
      </dict>
      <key>double_jump (2)</key>
      <dict>
        <key>frame</key>
        <string>{{111.96,0},{22.32,17.28}}</string>
        <key>offset</key>
        <string>{0,-2.880000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1.44,6.84},{22.32,17.28}}</string>
        <key>sourceSize</key>
        <string>{25.2,25.2}</string>
      </dict>
      <key>double_jump (9)</key>
      <dict>
        <key>frame</key>
        <string>{{134.28,0},{21.96,21.24}}</string>
        <key>offset</key>
        <string>{0.1800000000000015,0.5400000000000009}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1.7999999999999998,1.44},{21.96,21.24}}</string>
        <key>sourceSize</key>
        <string>{25.2,25.2}</string>
      </dict>
      <key>double_jump (10)</key>
      <dict>
        <key>frame</key>
        <string>{{67.32,17.28},{21.96,20.52}}</string>
        <key>offset</key>
        <string>{0.1800000000000015,0.17999999999999972}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1.7999999999999998,2.16},{21.96,20.52}}</string>
        <key>sourceSize</key>
        <string>{25.2,25.2}</string>
      </dict>
      <key>double_jump (5)</key>
      <dict>
        <key>frame</key>
        <string>{{45,18.72},{21.96,19.08}}</string>
        <key>offset</key>
        <string>{0.1800000000000015,-1.2599999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1.7999999999999998,4.32},{21.96,19.08}}</string>
        <key>sourceSize</key>
        <string>{25.2,25.2}</string>
      </dict>
      <key>double_jump (4)</key>
      <dict>
        <key>frame</key>
        <string>{{22.32,21.24},{21.96,18.36}}</string>
        <key>offset</key>
        <string>{0.1800000000000015,-1.6199999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1.7999999999999998,5.04},{21.96,18.36}}</string>
        <key>sourceSize</key>
        <string>{25.2,25.2}</string>
      </dict>
      <key>double_jump (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,37.08},{21.96,18}}</string>
        <key>offset</key>
        <string>{0.1800000000000015,-2.16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1.7999999999999998,5.76},{21.96,18}}</string>
        <key>sourceSize</key>
        <string>{25.2,25.2}</string>
      </dict>
      <key>double_jump (7)</key>
      <dict>
        <key>frame</key>
        <string>{{89.28,17.28},{21.599999999999998,21.24}}</string>
        <key>offset</key>
        <string>{0.35999999999999943,0.5400000000000009}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2.16,1.44},{21.599999999999998,21.24}}</string>
        <key>sourceSize</key>
        <string>{25.2,25.2}</string>
      </dict>
      <key>double_jump (8)</key>
      <dict>
        <key>frame</key>
        <string>{{110.88,17.28},{21.599999999999998,21.24}}</string>
        <key>offset</key>
        <string>{0.35999999999999943,0.5400000000000009}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2.16,1.44},{21.599999999999998,21.24}}</string>
        <key>sourceSize</key>
        <string>{25.2,25.2}</string>
      </dict>
      <key>double_jump (6)</key>
      <dict>
        <key>frame</key>
        <string>{{44.28,37.8},{21.599999999999998,20.16}}</string>
        <key>offset</key>
        <string>{0.35999999999999943,-0.3600000000000012}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2.16,2.88},{21.599999999999998,20.16}}</string>
        <key>sourceSize</key>
        <string>{25.2,25.2}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>double_jump.png</string>
      <key>size</key>
      <string>{156,58}</string>
      <key>textureFileName</key>
      <string>double_jump</string>
    </dict>
  </dict>
</plist>
